*{
  box-sizing: border-box;
  margin: 0;
       padding: 0;
}

body{
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
       color:hsl(212, 21%, 14%);
       
       background-color:hsl(30, 38%, 92%);
       line-height: 1.7;
        
       display: grid;
      min-height: 100vh;
       place-content: center;
       -webkit-font-smoothing: antialiased;
      margin: 1rem;
     }
    picture, img{
      max-width: 100%;
      display: block;
      
      
     }
    
     .product{
     overflow: hidden;
     display: grid;
      border-radius: 0.5rem;
      max-width: 700px;
     
     
      
    }
 
     
     @media (min-width:600px){
        .product{
          
          grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
          grid-template-columns:1fr, 1fr;
       
        } 
      img{
        min-height:574px;
        object-position: top-left;
      }
       
      
       
     }
     .product-content{
       padding: 1.3rem;
       background-color: #fff;
      display: grid;
      gap: 1rem;
     }
 
     h1, .product-price{
      
       font-size: 2rem;
       font-family: 'Fraunces', serif;
     }
     h1,h2,p,btn{
       margin-top: 0;
       margin-bottom: 0;
     }
     h1{
       font-weight: 700;
       
       line-height: 1.1;
       
     }
     h2{
       font-size:0.925rem;
       letter-spacing: 5px;
     }
     p{
       
        font-size: 18px;
     }
     .product-price{
       font-weight: 700;
       
       color:   hsl(158, 36%, 37%);
     }
 
     .price{
       display: flex;
       align-items: center;
      
       gap: 2rem;
       font-size: 18px;
       
     }
     .visually-hidden:not(:focus):not(:active) {
      clip:rect(0 0 0 0);
      clip-path:inset(50%);
      height: 1px;
      width: 1px;
      overflow:hidden;
      position: absolute;
      white-space: none;

     }
 
    
    
     .btn{
      background-color:  hsl(158, 50%, 25%);
      color:#fff;
      font-weight: 700;
     
      font-size: 0.92rem;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
      border-radius: 0.5rem;
      border: none;
      box-shadow: 0 0 10px rgba(0,0,0,0.5);
      padding: 1em 1.5em;
    }
    .btn[data-icon="shopping-cart"]::before{
      content: "";
      background-image: url('images/icon-cart.svg');
      width:15px;
     height:16px;

    }
    .btn:hover,
    .btn:focus{
        background-color: hsl(158, 50%, 15%);
    }
   
     .attribution { font-size: 11px; text-align: center; }
     .attribution a { color: hsl(228, 45%, 44%); }